<div class="wrapper">
     	 <div class="container">
     	 	 <div class="row">
     	 	 	 <div class=" col-md-3 col-sm-3 col-xs-12">
     	 	 	 	     <div class="row">
     	 	              <div class="col-sm-11 col-xs-12 left">
  	     	 	             <div class="col-xs-12 custom">
  	     	 	             	 	   Custom section
  	     	 	             </div>
  	     	 	             <div class="col-xs-12 order">
  	     	 	             	 	<span class="glyphicon glyphicon-align-justify"></span> 
                      <%= link_to("My Orders",:controller=>'public',:action=>'myorder')%> 

  	     	 	             </div>
  	     	 	             <div class="col-xs-12 order">
  	     	 	             	 	<span class="glyphicon glyphicon-heart"></span> My wishlist
  	     	 	             </div>
  	     	 	             <div class="col-xs-12 order">
  	     	 	             	 	<span class="glyphicon glyphicon-user"></span> My account
  	     	 	             </div>
  	     	 	             <div class="col-xs-12 order">
  	     	 	             	 	<span class="glyphicon glyphicon-log-out"></span> 
                      <%= link_to("Logout",:controller=>'public',:action=>'logout')%> 

  	     	 	             </div>
     	 	              </div>
     	 	         </div>
     	 	      </div>
     	 	      <!--left part is ends here now right part is start -->
     	 	      <div class="col-sm-9 col-xs-12" style="padding:0px; height: 500px;">
     	 	      	  
     	 	      	  <div class="col-xs-12 wishlist">
                      
     	 	      	  	  My Wishlist
     	 	      	  </div>
     	 	      	  <div class="col-xs-12" style="padding:0px;">
     	 	      	  	  <div class="col-md-3 col-sm-4 col-xs-12 img n" style="padding:0px;">
     	 	      	  	  	  <div class="col-xs-12">
     	 	      	  	  	  	  <img src="./img/product1.jpg" class="img-responsive mainimg" style="padding:5px;">
     	 	      	  	  	  </div>
     	 	      	  	  	  <div class="col-xs-12 imgtext">Fur coat with very but very very long</div>
     	 	      	  	  	  <div class="col-xs-12 imgtext">$143</div>
     	 	      	  	  	  <div class="col-xs-12 imgtext view">
     	 	      	  	  	  	  <button class="btn btn-success btn-md"><span class="items">View detail</span></button>
     	 	      	  	  	  </div>
     	 	      	  	  	  <div class="col-xs-12 imgtext view">
     	 	      	  	  	  	   <button class="btn btn-success btn-md"style="color:#fff;"><span class="glyphicon glyphicon-shopping-cart"></span> <span class="items">Add to cart</span></button>
     	 	      	  	  	  </div>
     	 	      	  	  </div>
     	 	      	  	  
     	 	      	  	 
     	 	      	  	  
     	 	      	  </div>
     	 	      </div>
     	 	 </div>
     	 </div>
     </div>